.book {
  max-width: 240px;
}

.book img {
  max-width: 240px;
  margin: 8px 0px;
}

.book p {
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .book h3 {
    text-align: center;
  }

  .book span {
    display: block;
    text-align: center;
  }

}